<h1>Dashboard</h1>

<div class="col-md-6">
<h4>Jobs by Interest Level</h4>  
  <table class="table table-striped table-bordered">
    <tr>
      <th>Interest Level</th>
      <th>Number of Jobs</th>
    </tr>
    <% @jobs_by_level_of_interest_count.each do |level, count| %>
    <tr>
        <td><%= level %></td>
        <td><%= count %></td>
    </tr>
      <% end %>
  </table>
</div>

<div class="col-md-6">
<h4>Top Three Companies by Interest Level Average</h4>
<table class="table table-striped table-bordered">
  <tr>
    <th>Company</th>
    <th>Average Interest Level</th>
  </tr>
  <% @level_of_interest_finder.each do |company| %>
  <tr>
      <td><%= company[0] %></td>
      <td><%= company[1] %></td>
  </tr>
    <% end %>
</table>
</div>